.title {
    font: var(--font-l);
    color: var(--primary-color);
    text-align: inherit;
}

.text {
    font: var(--font-m);
    color: var(--secondary-color);
    text-align: inherit;
}

.error .title {
    color: var(--red-light);
}

.error .text {
    color: var(--red-dark);
}

.left {
    text-align: start;
}

.right {
    text-align: end;
}

.center {
    text-align: center;
}
