.profile-card {
    padding: 20px;
    border: 2px solid var(--inverted-bg-color);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.data {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.loading,
.error {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.avatar-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.editing {
    border: 2px solid var(--inverted-primary-color);
}
